.logo {
    position: absolute;
    top: 60px;
    left: 70px;
    width: 186px;

    @media only screen and (max-width: 768px) {
        position: relative;
        top: unset;
        left: unset;
        width: 100px;
    }
}
  
.logo svg path {
    fill: rgba(255, 160, 0, .7);
}