// FONT NAMES
$font-open-sans: 'Open Sans', sans-serif;
$font-comfortaa: 'Comfortaa', cursive;

// FONT SIZES
$fnsize-footer: 11px;
$fnsize-news: 13px;
$fnsize-regular: 14px;
$fnsize-search: 16px;
$fnsize-temp: 28px;

// COLORS
$clr-white: #fff;
$clr-gray-f3: #f3f3f3;
$clr-gray-61: #616161;
$clr-footer-background: rgba(33, 33, 33, 0.30);